# Maven / Gradle build
/target/
/build/

# IDEs
.idea/
.vscode/
*.iml

# Configs sensíveis
application.properties
application.yml
.env

# Logs
*.log

# Arquivos estáticos copiados para o Spring Boot
src/main/resources/static/
src/main/resources/static/assets/
